@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  background-color: beige;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: beige;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo > img {
  width: 150px;
  padding: 0px 5px;
}

.nav_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: larger;
  font-weight: 600;
  gap: 25px;
}

.nav_links li {
  list-style: none;
  position: relative;
}

.nav_links li a {
  text-decoration: none;
  color: darkred;
}

i {
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icons i {
  color: darkred;
  font-size: larger;
}

.hamburger {
  display: none;
}

.lines {
  width: 25px;
  background-color: darkred;
  height: 3px;
  margin: 5px;
}

header nav ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  left: 0;
  bottom: -8px;
}

header nav ul li a:hover::after {
  width: 100%;
  background-color: black;
}

.page {
  position: relative;
}

.drop_menu {
  display: none;
}

.drop_menu1 {
  display: block;
  position: absolute;
  left: 0;
  bottom: -45px;
  padding: 10px 7px;
  color: darkred;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

@media screen and (max-width: 1200px) {
  .nav_links {
    font-size: large;
  }
}

@media screen and (max-width: 1080px) {
  .nav_links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

/* ---------------------------------------------------------------------------- */

/* Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  transition: 1s;
  padding-top: 20px;
  margin-top: 10vh;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 15px;
  position: relative;
}

.sidebar ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkred;
  font-weight: 600;
  text-decoration: none;
}
.sidebar ul li div span {
  color: black;
  text-decoration: none;
}

.flexdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sidebar ul li a:hover {
  color: #f1f1f1;
}

.sidebar ul li .submenu {
  list-style: none;
  padding-left: 15px;
  /* max-height: 0; */
  overflow: hidden;
  display: none;
}
.sidebar ul li .submenu2 {
  padding-left: 15px;
  display: none;
}
.submenu1 {
  padding-left: 15px;
  display: block;
}

/* Close button */
.sidebar .close-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
  color: black;
}

.Table1 {
  width: 100%;
  display: flex;
}

.image {
  width: 100%;
  position: relative;
}

.image img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.image-content {
  position: absolute;
  top: 30%;
  padding: 40px;
  color: white;
  max-width: 70%;
  backdrop-filter: blur(2px);
}

.image-content h2 {
  font-size: xx-large;
}
.image-content p {
  font-size: larger;
  padding: 10px;
}

@media screen and (max-width: 680px) {
  .image-content h2 {
    font-size: x-large;
    text-align: center;
  }

  .image-content p {
    font-size: medium;
    text-align: justify;
    padding: 0px;
  }

  .image-content {
    max-width: 100%;
    top: 10%;
  }
  .image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: left;
  }
}

@media screen and (max-width: 400px) {
  .image-content {
    max-width: 100%;
    top: 10%;
  }
}

/* Section */

.Structure {
  padding: 10px 5%;
  /* overflow-x: hidden; */
}

.Table2 {
  width: 100%;
  padding: 20px;
}

.Header h3 {
  font-size: xx-large;
  text-align: center;
  color: darkred;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}

.Header p {
  font-size: larger;
  font-weight: 600;
  padding: 10px;
  text-align: justify;
}

.Table3 {
  width: 100%;
  display: flex;
  gap: 15px;
}

.Container {
  width: 50%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
}

.the-image img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 12px;
}

.content h3 {
  text-align: center;
  color: darkred;
  padding: 10px;
  font-size: x-large;
}

.content p {
  text-align: justify;
  font-weight: 500;
}

@media screen and (max-width:1100px) {
    .Table3 {
        width: 100%;
        flex-wrap: wrap;
    }

    .Container {
        width: 100%;
    }

    .the-image img {
        height: 45vh;
    }
}

@media screen and (max-width:550px) {
    .image-content h2 {
        font-size: larger;
    }
    .Header h3 {
        font-size: x-large;
    }
    .Header p {
        font-size: medium;
        padding: 5px;
    }
    .content h3 {
        font-size: large;
    }
    .content p {
        font-size: small;
    }
}