@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  background-color: beige;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: beige;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo > img {
  width: 150px;
  padding: 0px 5px;
}

.nav_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: larger;
  font-weight: 600;
  gap: 25px;
}

.nav_links li {
  list-style: none;
  position: relative;
}

.nav_links li a {
  text-decoration: none;
  color: darkred;
}

i {
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 200;
}

.icons i {
  color: darkred;
  font-size: larger;
  padding-right: 20px;
}

.hamburger {
  display: none;
}

.lines {
  width: 25px;
  background-color: darkred;
  height: 3px;
  margin: 5px;
}

header nav ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  left: 0;
  bottom: -8px;
}

header nav ul li a:hover::after {
  width: 100%;
  background-color: black;
}

.page {
  position: relative;
}

.drop_menu {
  display: none;
}

.drop_menu1 {
  display: block;
  position: absolute;
  left: 0;
  bottom: -45px;
  padding: 10px 7px;
  color: darkred;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

@media screen and (max-width: 1200px) {
  .nav_links {
    font-size: large;
  }
}

@media screen and (max-width: 1080px) {
  .nav_links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

/* ---------------------------------------------------------------------------- */

/* Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  transition: 1s;
  padding-top: 20px;
  margin-top: 10vh;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 15px;
  position: relative;
}

.sidebar ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkred;
  font-weight: 600;
  text-decoration: none;
}
.sidebar ul li div span {
  color: black;
  text-decoration: none;
}

.flexdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sidebar ul li a:hover {
  color: #f1f1f1;
}

.sidebar ul li .submenu {
  list-style: none;
  padding-left: 15px;
  /* max-height: 0; */
  overflow: hidden;
  display: none;
}
.sidebar ul li .submenu2 {
  padding-left: 15px;
  display: none;
}
.submenu1 {
  padding-left: 15px;
  display: block;
}

/* Close button */
.sidebar .close-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
  color: black;
}

/* Arrow rotation */

/* ---------------------------------------------------------------------------- */


.Table1 {
  width: 100%;
  display: flex;
  /* overflow-x: hidden; */
}

.gt-image {
  width: 100%;
  position: relative;
}

.gt-image img {
  width: 100%;
  object-fit: cover;
  /* position: relative; */
}

.gt-content {
  position: absolute;
  max-width: 75%;
  top: 30%;
  padding: 40px;
  backdrop-filter: blur(4px);
}

.gt-content h2 {
  font-size: xx-large;
  color: darkred;
  padding: 10px;
}

.gt-content p {
  font-size: x-large;
  padding: 0px 20px;
}

@media screen and (max-width: 880px) {
  .gt-content {
    top: 20%;
  }
  .gt-content h2 {
    font-size: x-large;
  }
  .gt-content p {
    font-size: larger;
  }
}

@media screen and (max-width: 650px) {
  .gt-content {
    top: 15%;
    max-width: 100%;
    backdrop-filter: blur(3px);
  }
  .gt-content h2 {
    text-align: center;
    font-size: large;
  }
  .gt-content p {
    font-size: medium;
    padding: 0px;
  }
}

@media screen and (max-width: 500px) {
  .gt-content p {
    font-size: small;
  }
  .gt-content {
    top: 8%;
  }
}

.Structure {
  padding: 20px 5%;
  overflow-x: hidden;
}

.Table2 {
  width: 100%;
  padding: 20px;
}

.Heads {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Heads h2 {
  font-family: 'Times New Roman', Times, serif;
  color: darkred;
  text-align: center;
  font-size: xx-large;
}

.container1 {
  gap: 20px;
  padding: 20px;
  width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-bottom: 10px;
}

.container1 img {
  width: 100%;
  object-fit: cover;
  height: 80vh;
}
.imgs-content {
  padding: 10px;
}

.imgs-content h3 {
  font-family: 'Times New Roman', Times, serif;
  color: darkred;
  font-size: x-large;
  padding: 10px;
}

.imgs-content p {
  padding: 10px;
  font-size: larger;
  font-weight: 600;
}

.container1 img {
  height: 60vh;
}

@media screen and (max-width:850px) {
  .imgs-content p {
    text-align: justify;
  }
  .container1 img {
    height: 40vh;
  }
}

@media screen and (max-width:550px) {
  .imgs-content h3 {
  font-size: larger;
  padding: 5px;
  text-align: justify;
}

.imgs-content p {
  padding: 10px;
  font-size: medium;
  font-weight: 500;
}
.container1 img {
    height: 30vh;
  }
  .container1 {
    padding: 10px;
  }
  .Structure {
    padding: 20px;
  }
  .Table2 {
    padding: 0px;
  }
}


/* ------------------------------------------------------------- */


 .search-container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    width: 250px;
    height: 38px;
    margin: 0 10px;
  }

  .search-container input {
    border: none;
    outline: none;
    padding: 8px 12px;
    font-size: 14px;
    flex: 1;
  }

  .search-container button {
    border: none;
    background: white;
    color: darkred;
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.3s;
  }

  .search-container button i {
    color: darkred;
  }



  @media screen and (max-width:690px) {
    .search-container {
        display: none;
    }
    
}

/* ------------------ FOOTER PAGE ------------------------ */

footer {
  overflow-x: hidden;
}

.footer-parent {
  display: flex;
  flex-wrap: wrap;
  background-color: beige;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 30px;
  overflow-x: hidden;
}

.set1,
.set2,
.set3,
.set4 {
  flex: 300px;
  padding: 0px 20px 0px 20px;
  text-align: center;
}

.set1 {
  padding-top: 30px;
}

.set1 img {
  width: 150px;
  height: 70px;
  object-fit: cover;
  padding: 0px;
}

.footer-para {
  font-size: larger;
}

.set1 a {
  text-decoration: none;
}

.set1 a i {
  font-size: x-large;
  color: darkred;
  padding: 20px;
}

.set1 a i:hover {
  color: red;
}

.set2 {
  padding-top: 60px;
}

.footer-li {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.footer-li a {
  display: inline-block;
  font-size: larger;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.footer-li > a:hover {
  color: red;
}

.footer-header {
  color: darkred;
}

.set3 {
  padding-top: 60px;
}

.set3 .footer-para {
  padding: 10px;
  font-weight: 400;
}

.set4 {
  padding-top: 60px;
}

.set4 > .footer-para {
  padding: 10px;
  font-weight: 400;
  line-height: 40px;
}

@media screen and (max-width: 769px) {
  .footer-parent {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

@media screen and (max-width: 430px) {
  .footer-para {
    font-size: medium;
  }

  .footer-li a {
    font-size: medium;
  }

  .footer-header {
    font-size: larger;
  }

  /* .cta-button {
    font-size: 14px;
    padding: 10px 12px;
  }

  .cta-button1 {
    font-size: 14px;
    padding: 10px 15px;
  } */
}

